.form-label-left{
    width:150px;
}
.form-line{
    padding-top:12px;
    padding-bottom:12px;
}
.form-label-right{
    width:150px;
}
body, html{
    margin:0;
    padding:0;
    background:rgba(244, 243, 243, 0.84);
}

.form-all{
    margin:0px auto;
    padding-top:0px;
    width:989px;
    color:Black !important;
    font-family:'Open Sans';
    font-size:14px;
}
.form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{
    color: Black;
}

/* Injected CSS Code */
@import "https://fonts.googleapis.com/css?family=Open Sans:light,lightitalic,normal,italic,bold,bolditalic";
@import "//eu.jotform.com/themes/css/buttons/form-submit-button-blue.css";
.form-all {
font-family: "Open Sans", sans-serif;
}
.form-all {
width: 989px;
width: 100%;
max-width: 989px;
}
.form-label-left,
.form-label-right {
width: 150px;
}
.form-label {
white-space: normal;
}
.form-label.form-label-auto {
display: inline-block;
float: left;
text-align: left;
width: 150px;
}
.form-label-left {
display: inline-block;
white-space: normal;
float: left;
text-align: left;
}
.form-label-right {
display: inline-block;
white-space: normal;
float: left;
text-align: right;
}
.form-label-top {
white-space: normal;
display: block;
float: none;
text-align: left;
}
.form-all {
font-size: 14px;
}
.form-label {
font-weight: normal;
font-size: 0.95em;
}
.supernova {
background-color: rgba(244, 243, 243, 0.84);
background-color: #ffffff;
}


@media screen and (min-width: 480px) {
.supernova .form-all {
border: 1px solid #e6e6e6;
-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
}
}
/* | */
/* | */
@media screen and (max-width: 480px) {
.jotform-form {
padding: 10px 0;
}
}
/* | */
/* | */
@media screen and (min-width: 480px) and (max-width: 768px) {
.jotform-form {
padding: 30px 0;
}
}
/* | */
/* | */
@media screen and (min-width: 480px) and (max-width: 988px) {
.jotform-form {
padding: 30px 0;
}
}
/* | */
/* | */
@media screen and (min-width: 768px) {
.jotform-form {
padding: 60px 0;
}
}
/* | */
/* | */
@media screen and (max-width: 988px) {
.jotform-form {
padding: 0;
}
}
/* | */
.supernova .form-all,
.form-all {
background-color: rgba(244, 243, 243, 0.84);
border: 1px solid transparent;
}
.form-header-group {
border-color: rgba(220, 216, 216, 0.84);
}
.form-matrix-table tr {
border-color: rgba(220, 216, 216, 0.84);
}
.form-matrix-table tr:nth-child(2n) {
background-color: rgba(232, 230, 230, 0.84);
}
.form-all {
color: #000000;
}
.form-header-group .form-header {
color: #000000;
}
.form-header-group .form-subHeader {
color: #1a1a1a;
}
.form-sub-label {
color: #1a1a1a;
}
.form-label-top,
.form-label-left,
.form-label-right,
.form-html {
color: #1a1a1a;
}
.form-checkbox-item label,
.form-radio-item label {
color: #000000;
}
.form-line.form-line-active {
-webkit-transition-property: all;
-moz-transition-property: all;
-ms-transition-property: all;
-o-transition-property: all;
transition-property: all;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-ms-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-timing-function: ease;
-moz-transition-timing-function: ease;
-ms-transition-timing-function: ease;
-o-transition-timing-function: ease;
transition-timing-function: ease;
background-color: rgba(255, 251, 234, 0);
}
/* ömer */
.form-radio-item,
.form-checkbox-item {
padding-bottom: 4px !important;
}
.form-radio-item:last-child,
.form-checkbox-item:last-child {
padding-bottom: 0;
}
/* ömer */
.form-single-column .form-checkbox-item,
.form-single-column .form-radio-item {
width: 100%;
}
.form-radio-item:not(#foo) {
margin-bottom: 0;
position: relative;
}
.form-radio-item:not(#foo) input[type="checkbox"],
.form-radio-item:not(#foo) input[type="radio"] {
display: none;
}
.form-radio-item:not(#foo) .form-radio-other,
.form-radio-item:not(#foo) .form-checkbox-other {
display: inline-block !important;
margin-left: 7px;
margin-right: 3px;
margin-top: 4px;
}
.form-radio-item:not(#foo) .form-checkbox-other-input,
.form-radio-item:not(#foo) .form-radio-other-input {
margin: 0;
}
.form-radio-item:not(#foo) label {
line-height: 18px;
margin-left: 0;
float: left;
text-indent: 27px;
}
.form-radio-item:not(#foo) label:before {
content: '';
position: absolute;
display: inline-block;
vertical-align: baseline;
margin-right: 4px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
left: 4px;
width: 18px;
height: 18px;
cursor: pointer;
}
.form-radio-item:not(#foo) label:after {
content: '';
position: absolute;
z-index: 10;
display: inline-block;
opacity: 0;
top: 5px;
left: 9px;
width: 8px;
height: 8px;
}
.form-radio-item:not(#foo) input:checked + label:after {
opacity: 1;
}
.form-radio-item:not(#foo) label:before {
border: 2px solid #9e816c;
}
.form-radio-item:not(#foo) label:after {
background-color: #9e816c;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
cursor: pointer;
}
.form-checkbox-item:not(#foo) {
margin-bottom: 0;
position: relative;
}
.form-checkbox-item:not(#foo) input[type="checkbox"],
.form-checkbox-item:not(#foo) input[type="radio"] {
display: none;
}
.form-checkbox-item:not(#foo) .form-radio-other,
.form-checkbox-item:not(#foo) .form-checkbox-other {
display: inline-block !important;
margin-left: 7px;
margin-right: 3px;
margin-top: 4px;
}
.form-checkbox-item:not(#foo) .form-checkbox-other-input,
.form-checkbox-item:not(#foo) .form-radio-other-input {
margin: 0;
}
.form-checkbox-item:not(#foo) label {
line-height: 18px;
margin-left: 0;
float: left;
text-indent: 27px;
}
.form-checkbox-item:not(#foo) label:before {
content: '';
position: absolute;
display: inline-block;
vertical-align: baseline;
margin-right: 4px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
left: 4px;
width: 18px;
height: 18px;
cursor: pointer;
}
.form-checkbox-item:not(#foo) label:after {
content: '';
position: absolute;
z-index: 10;
display: inline-block;
opacity: 0;
top: 8px;
left: 9px;
width: 3px;
height: 3px;
}
.form-checkbox-item:not(#foo) input:checked + label:after {
opacity: 1;
}
.form-checkbox-item:not(#foo) label:before {
border: 2px solid #9e816c;
}
.form-checkbox-item:not(#foo) label:after {
background-color: #9e816c;
box-shadow: 0 2px 0 0 #9e816c, 2px 2px 0 0 #9e816c, 4px 2px 0 0 #9e816c, 6px 2px 0 0 #9e816c;
-moz-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.supernova {
height: 100%;
background-repeat: no-repeat;
background-attachment: scroll;
background-position: center top;
background-repeat: repeat;
background-size: cover;
}
.supernova {
    background-color: #5D5D5D;
}
#stage {
    background-color: #5D5D5D;
}
/* | */
.form-all {
background-repeat: no-repeat;
background-attachment: scroll;
background-position: center top;
background-repeat: repeat;
}
.form-header-group {
background-repeat: no-repeat;
background-attachment: scroll;
background-position: center top;
}
.form-line {
margin-top: 12px;
margin-bottom: 12px;
}
.form-line {
padding: 10px 36px;
}
.form-all .form-textbox,
.form-all .form-radio-other-input,
.form-all .form-checkbox-other-input,
.form-all .form-captcha input,
.form-all .form-spinner input,
.form-all .form-pagebreak-back,
.form-all .form-pagebreak-next,
.form-all .qq-upload-button,
.form-all .form-error-message {
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.form-all .form-sub-label {
margin-left: 3px;
}
.form-all .form-textarea {
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
}
.form-all .form-sub-label {
margin-left: 3px;
}
.form-dropdown {
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-appearance: none;
-moz-appearance: button;
appearance: none;
margin: 0;
}
.form-all {
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.form-section:first-child {
-webkit-border-radius: 6px 6px 0 0;
-moz-border-radius: 6px 6px 0 0;
border-radius: 6px 6px 0 0;
}
.form-section:last-child {
-webkit-border-radius: 0 0 6px 6px;
-moz-border-radius: 0 0 6px 6px;
border-radius: 0 0 6px 6px;
}
.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
font-size: 1.15em;
padding: 12px 18px;
font-family: "Open Sans", sans-serif;
font-size: 14px;
font-weight: normal;
}
.form-all .form-submit-print {
margin-left: 0 !important;
margin-right: 0 !important;
}
.form-all .form-pagebreak-back,
.form-all .form-pagebreak-next {
font-size: 1em;
padding: 9px 15px;
font-family: "Open Sans", sans-serif;
font-size: 14px;
font-weight: normal;
}
/*
& when ( @buttonFontType = google ) {
@import (css) "@{buttonFontLink}";
}
*/
h2.form-header {
line-height: 1.618em;
font-size: 1.714em;
}
h2 ~ .form-subHeader {
line-height: 1.5em;
font-size: 1.071em;
}
.form-header-group {
text-align: left;
}
/*.form-dropdown,
.form-radio-item,
.form-checkbox-item,
.form-radio-other-input,
.form-checkbox-other-input,*/
.form-captcha input,
.form-spinner input,
.form-error-message {
padding: 4px 3px 2px 3px;
}
.form-header-group {
font-family: "Open Sans", sans-serif;
}
.form-section {
padding: 0px 0px 0px 0px;
}
.form-header-group {
margin: 0px 0px 0px 0px;
}
.form-header-group {
padding: 24px 36px 24px 36px;
}
.form-textbox,
.form-textarea {
border-color: #c7b6a9;
padding: 4px 3px 2px 3px;
}
.form-textbox,
.form-textarea,
.form-radio-other-input,
.form-checkbox-other-input,
.form-captcha input,
.form-spinner input {
background-color: rgba(255, 255, 255, 0.64);
}
.form-dropdown {
border-color: #c7b6a9;
-webkit-appearance: menulist-button;
background-color: rgba(255, 255, 255, 0.64);
}
[data-type="control_dropdown"] .form-input,
[data-type="control_dropdown"] .form-input-wide {
width: 150px;
}
.form-label {
font-family: "Open Sans", sans-serif;
}
li[data-type="control_image"] div {
text-align: left;
}
li[data-type="control_image"] img {
border: none;
border-width: 0px !important;
border-style: solid !important;
border-color: false !important;
}
.form-line-column {
width: auto;
}
.form-line-error {
background-color: rgba(244, 243, 243, 0.84);
-webkit-box-shadow: inset 0px 3px 11px -7px #ff3200;
-moz-box-shadow: inset 0px 3px 11px -7px #ff3200;
box-shadow: inset 0px 3px 11px -7px #ff3200;
}
.form-line-error input:not(#coupon-input),
.form-line-error textarea,
.form-line-error .form-validation-error {
-webkit-transition-property: none;
-moz-transition-property: none;
-ms-transition-property: none;
-o-transition-property: none;
transition-property: none;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-ms-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-timing-function: ease;
-moz-transition-timing-function: ease;
-ms-transition-timing-function: ease;
-o-transition-timing-function: ease;
transition-timing-function: ease;
border: 1px solid #fff4f4;
-moz-box-shadow: 0 0 3px #fff4f4;
-webkit-box-shadow: 0 0 3px #fff4f4;
box-shadow: 0 0 3px #fff4f4;
}
.form-line-error .form-error-message {
margin: 0;
position: absolute;
color: #fff;
display: inline-block;
right: 0;
font-size: 10px;
position: absolute!important;
box-shadow: none;
top: 0px;
line-height: 20px;
color: #FFF;
background: #ff3200;
padding: 0px 5px;
bottom: auto;
min-width: 105px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.form-line-error .form-error-message img,
.form-line-error .form-error-message .form-error-arrow {
display: none;
}
.ie-8 .form-all {
margin-top: auto;
margin-top: initial;
}
.ie-8 .form-all:before {
display: none;
}
/* | */
@media screen and (max-width: 480px), screen and (max-device-width: 768px) and (orientation: portrait), screen and (max-device-width: 415px) and (orientation: landscape) {
.jotform-form {
padding: 0;
}
.form-all {
border: 0;
width: 100% !important;
max-width: initial;
}
.form-sub-label-container {
width: 100%;
margin: 0;
}
.form-input {
width: 100%;
}
.form-label {
width: 100%!important;
}
.form-line {
padding: 2% 5%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
input[type=text],
input[type=email],
input[type=tel],
textarea {
width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
max-width: initial !important;
}
.form-input,
.form-input-wide,
.form-textarea,
.form-textbox,
.form-dropdown {
max-width: initial !important;
}
div.form-header-group {
padding: 24px 36px !important;
padding-left: 5% !important;
padding-right: 5% !important;
margin: 0 0px 2% !important;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
[data-type="control_button"] {
margin-bottom: 0 !important;
}
.form-buttons-wrapper {
margin: 0!important;
}
.form-buttons-wrapper button {
width: 100%;
}
table {
width: 100%!important;
max-width: initial !important;
}
table td + td {
padding-left: 3%;
}
.form-checkbox-item input,
.form-radio-item input {
width: auto;
}
.form-collapse-table {
margin: 0 5%;
}
}
/* | */

/*PREFERENCES STYLE*/
.form-all {
  font-family: Open Sans, sans-serif;
}
.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
  font-family: Open Sans, sans-serif;
}
.form-all .form-pagebreak-back-container,
.form-all .form-pagebreak-next-container {
  font-family: Open Sans, sans-serif;
}
.form-header-group {
  font-family: Open Sans, sans-serif;
}
.form-label {
  font-family: Open Sans, sans-serif;
}

.form-label.form-label-auto {
  
display: inline-block;
float: left;
text-align: left;

}

.form-line {
  margin-top: 12px;
  margin-bottom: 12px;
}

.form-all {
  width: 989px;
}

.form-label-left,
.form-label-right,
.form-label-left.form-label-auto,
.form-label-right.form-label-auto {
  width: 150px;
}

.form-all {
  font-size: 14px
}
.form-all .qq-upload-button,
.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
  font-size: 14px
}
.form-all .form-pagebreak-back-container,
.form-all .form-pagebreak-next-container {
  font-size: 14px
}

.supernova .form-all, .form-all {
  background-color: rgba(244, 243, 243, 0.84);
  border: 1px solid transparent;
}

.form-all {
  color: Black;
}
.form-header-group .form-header {
  color: Black;
}
.form-header-group .form-subHeader {
  color: Black;
}
.form-label-top,
.form-label-left,
.form-label-right,
.form-html,
.form-checkbox-item label,
.form-radio-item label {
  color: Black;
}
.form-sub-label {
  color: 1a1a25;
}

.supernova {
  background-color: #5D5D5D;
}
.supernova body {
    background-color: #5D5D5D;
}

.form-textbox,
.form-textarea,
.form-radio-other-input,
.form-checkbox-other-input,
.form-captcha input,
.form-spinner input {
  background-color: rgba(255, 255, 255, 0.64);
}

  .supernova {
    height: 100%;
   /* background-repeat: repeat;*/
    background-attachment: scroll;
    background-position: center top;
  }
  .supernova {
    background-color: #5D5D5D;
  }
  #stage {
    background-color: #5D5D5D;
  }

.form-all {
  background-image: none;
}

.form-all {
  position: relative;
}
.form-all:before {
  content: "";
 
  display: inline-block;
  height: 140px;
  position: absolute;
  background-size: 130px 140px;
  background-repeat: no-repeat;
  width: 100%;
}
.form-all {
  margin-top: 150px !important;
}
.form-all:before {
  top: -150px;
  background-position: top center;
}
       
.ie-8 .form-all:before { display: none; }
.ie-8 {
margin-top: auto;
margin-top: initial;
}
p.copyright-agileinfo {
    font-size: 15px;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    font-weight: 300;
}

footer p a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

footer p a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

footer {
    padding: 4em 0;
    text-align: center;
}

@media(max-width:640px) {
    p.copyright-agileinfo {
        letter-spacing: 1px;
    }
    h1 {
        font-size: 43px;
    }
}

@media(max-width:568px) {
    h1 {
        font-size: 40px;
    }
    p.copyright-agileinfo {
        font-size: 14px;
    }
}

input + span {
    padding-right: 30px;
  }
  
  input:invalid+span:after {
    position: absolute; content: '✖';
    padding-left: 5px;
  }
  
  input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
  }

  .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #7a0400;
    border-radius: 6px;
    border: 2px solid #3f1d02;
  }
  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }